<table class="table-fill">
  <thead>
    <th class="text-left">Works</th>
    <th class="text-left">Date</th>
    <th class="text-left">Time</th>
  </thead>
  <tbody>
    <% @works.each do |work| %>
    <tr>
      <td><%= link_to work.user, work %></td>
      <td><%= link_to work.datetimeperformed.strftime('%m/%d/%Y %H:%M'), work %></td>
      <td><%= link_to work.hours, work %> hr</td>
    </tr>
    <% end %>
  </tbody>
</table>
