<h1>Works</h1>
<% if @works.size > 0 %>
  <table class="table-fill">
    <thead>
      <th class="text-left">View</th>
      <th class="text-left">Project</th>
      <th class="text-left">Description</th>
      <th class="text-left">User</th>
      <th class="text-left">Date performed</th>
      <th class="text-left">Number of hours</th>
      <th class="text-left">File</th>
    </thead>
    <tbody>
        <%= render partial: "work", collection: @works %>
    </tbody>
  </table>
<% else %>
<h3 class="msg">There are no works yet.</h3>
<% end %>
