<h1>Projects</h1>
<table class="table-fill">
  <thead>
    <th class="text-left">Project</th>
    <th class="text-left">Company</th>
  </thead>
  <tbody>
    <%= render partial: "project", collection: @projects %>
  </tbody>
</table>
