<h1><%= @company.name %></h1>

<table class="table-fill">
  <thead>
    <th class="text-left">Project</th>
    <th class="text-left">Company</th>
  </thead>
  <tbody>
    <% @company.projects.each do |project| %>
    <%= render partial: "projects/project", collection: @company.projects %>
    <% end %>
  </tbody>
</table>
