/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$theme: #0093fc;
$dgrey: #1d1d1d;

@import url(http://fonts.googleapis.com/css?family=Roboto:100,500,700);

* {
  font-family: Roboto;
  padding: 0;
  margin: 0;
}
body {
  background: #f7f7f7;
}
#container {

}
#main, footer {
  a {
    text-decoration: none;
    font-weight: 800;
    color: $theme;
  }
  margin: 0 auto;
  width: 100%;
}
#main {
  margin-top: 60px;
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 3rem;
    font-weight: 700;
  }
  li {
    font-size: 1.3rem;
  }
}
nav {
  top: 0;
  position: fixed;
  width: 100%;
  background: $theme;
  padding-left: 18%;
  padding-right: 18%;
  li {
    font-size: 1.4rem;
    padding: 15px;
    transition: all ease .4s;
    opacity: .9;
    display: inline-block;
    margin-left: -2px;
    margin-right: 0;
    &:hover {
      background: #0090f7;
      opacity: 1;
    }
  }
  a {
    text-decoration: none;
    font-weight: 200;
    color: white;
  }
  .active a {
    opacity: 1;
  }
  .active {
    border-top: 3px solid white;
    background: #0085e5;
    &:hover {
      background: #0085e5;
    }
  }
}
footer {
  padding: 20px;
  padding-top: 25px;
  padding-bottom:  25px;
  opacity: .7;
  transition: all ease .4s;
  &:hover {
    opacity: 1;
  }
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

th {
  color: #D5DDE5;
  background: $dgrey;
  border-right: 1px solid #343a45;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 20px;
  text-align:left;
  vertical-align: middle;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
  font-size: 16px;
  font-weight: normal;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  border-right: 1px solid rgba(0, 0, 0, .05);
}
