/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$theme: #0093fc;
$dgrey: #1d1d1d;
$dtheme: #007bd3;
$bg: #EBEBEB;

* {
  font-family: Helvetica Neue;
  padding: 0;
  margin: 0;
}
body {
  transition: all ease .3s;
  margin-left: 10%;
  margin-right: 10%;
  background: darken($dgrey, 15%);
}
#container {
  margin: 0;
  padding: 0;
    background: $bg;
    h1, h2, h3, h4, h5, h6, p, form, ul {
      padding-left: 20px;
      padding-right: 20px;
    }
    #errors, .field_with_errors label{
      -webkit-animation-duration: .6s;
      animation-duration: .6s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
      font-style: italic;
      font-weight: bold;
      color: #e94242;
      li {
        margin-left: 20px;
      }
    }
    h1 {
      padding-top: 10px;
    }
    form {
      padding-bottom: 30px;
      input[type="text"] {
        font-size: 1.4rem;
        background: none;
        border: none;
        border-bottom: 2px solid rgba(0, 0, 0, .3);
        &:focus {
          outline: 0;
          border-bottom: 2px solid rgba(0, 0, 0, .5);
        }
      }
      input[type="submit"] {
        cursor: pointer;
        font-size: 1.5rem;
        padding: 10px;
        border: 0;
        background: $theme;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        transition: .3s all ease;
        &:hover {
          background: $dtheme;
        }
      }
      label {
        margin-top: 20px;
        display: block;
      }
      select {
        margin-top: 5px;
        background: $dgrey;
        color: white;
        border: none;
        font-size: 1.2rem;
        &:focus {
          outline: none;
        }
      }
    }
}
#main, footer {
  a {
    text-decoration: none;
    font-weight: 600;
    color: $theme;
  }
  margin: 0 auto;
  width: 100%;
}
#main {
  margin-top: 60px;
  h1, h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  h1 {
    font-size: 3rem;
  }
  p {

  }
  li {
    font-size: 1.3rem;
  }
}
nav {
  top: 0;
  position: fixed;
  width: 80%;
  z-index: 8;
  background: $theme;
  #logo {
    color: white !important;
    svg {
      margin-bottom: -1px;
      fill: #FFF !important;
      margin-right: 8px;
    }
  }
  li {
    font-size: 1.4rem;
    padding: 15px;
    transition: all ease .4s;
    opacity: .9;
    display: inline-block;
    margin-right: -2px;
    margin-left: 0;
    &:hover {
      background: #0090f7;
      opacity: 1;
    }
  }
  li:nth-child(5), li:nth-child(6), li:nth-child(7) {
    padding-top: 20px;
    font-size: 1.2rem;
    float: right;
    margin-left: -2px;
    margin-right: 0;
  }
  a {
    text-decoration: none;
    font-weight: 400;
    color: white;
  }
  .active a {
    opacity: 1;
  }
  .active {
    border-top: 3px solid white;
    background: #0085e5;
    &:hover {
      background: #0085e5;
    }
  }
}
footer {
  margin: 0;
  padding-top: 25px;
  padding-bottom:  25px;
  background: $dgrey;
  color: white;
  transition: all ease .4s;
  p {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-collapse: collapse;
  padding: 5px;
  width: 100%;
}

th {
  color: $bg;
  background: $dgrey;
  border-right: 1px solid #343a45;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 20px;
  text-align:left;
  vertical-align: middle;
}
th:last-child, tr:last-child {
  border-right: 1px solid $dgrey;
}
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  font-size: 16px;
  font-weight: normal;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: $bg;
}
td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  border-right: 1px solid rgba(0, 0, 0, .05);
}
.td-link {
  background-color: $dtheme !important;
  a {
    color: white !important;
  }
  z-index: 3;
}
.msg {
  font-style: italic;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 30px;
}
.flash {
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    width: 60%;
    margin: auto;
    -webkit-transform: translateY(-50px);
    -webkit-animation: slideDown 2s ease forwards;
    -moz-transform:    translateY(-50px);
    -moz-animation:    slideDown 2s ease forwards;
}
.notice {
  background: #00eaa4;
}
.alert {
  background: #e94242;
}
@-webkit-keyframes slideDown {
  0%, 100% { -webkit-transform: translateY(-50px); }
  10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
  0%, 100% { -moz-transform: translateY(-50px); }
  10%, 90% { -moz-transform: translateY(0px); }
}
@media screen and (max-width: 1000px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  nav {
    width: 100%;
  }
  .flash {
    width: 100%;
  }
}
.edit {
  margin-top: 20px;
  float: right;
}
.remoteform {
  background: darken($bg, 10%);
  margin-top: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 900px) {
  nav li {
    font-size: 1rem !important;
  }
  nav {
    li:nth-child(5), li:nth-child(6), li:nth-child(7) {
      padding-top: 15px;
    }
  }
  #main {
    margin-top: 50px;
  }
}
@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
